:root {
  --text-color: black;
  --btn-text-color: white;
  --primary-color: #16a3b5;
  --delete-btn-color: #db3446;
  --trash-icon-color: #cc3d40;
  --pen-icon-color: #ffc20b;
  --border-color: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#popup{
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(172, 176, 176, 0.1803921569);
  -webkit-backdrop-filter: blur(0.2rem);
   backdrop-filter: blur(0.2rem);

   .popupContent{
    background-color: white;
    border-radius: 2rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem;

    #popupBtns{
      display: flex;
      gap: 1rem;
      justify-content: center;
      align-items: center;

      button{
        padding: 0.5rem;
      }
    }
   }
}

body {
  label {
    font-size: 1.3rem;
  }

  h1,
  label {
    color: var(--text-color);
  }
  button {
    background-color: var(--primary-color);
    color: var(--btn-text-color);
    border: none;
    height: 2.5rem;
    border-radius: 0.3rem;
    &:hover {
      background-color: var(--btn-text-color);
      color: var(--text-color);
      border: solid 0.17rem var(--primary-color);
      cursor: pointer;
    }
  }
}

#wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
}

#toDoInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100vw;
  max-width: 60%;
}

#toDoInput {
  padding: 1rem;
  border: solid 0.17rem var(--border-color);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  #iconAndInput {
    display: flex;
    width: 100%;
    i {
      padding: 0.7rem;
      background-color: var(--primary-color);
      color: var(--btn-text-color);
      border-radius: 0.18rem;
    }
    input {
      border: solid 0.17rem var(--border-color);
      border-left: none;
      border-radius: 0.18rem;
      width: 100%;
      padding-left: 1rem;
    }
  }
  #addNewTaskBtn {
    width: 100%;
  }
}

#toDoListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  width: 100vw;
  max-width: 60%;
  padding: 1rem;
}
#filterWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.filterBtn {
  width: 30%;
}

#tasksWrapper {
  width: 100%;

  #tasksList {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .task {
    border: solid 0.17rem var(--border-color);
    border-radius: 0.18rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    .taskText {
      flex-grow: 1;
      &:hover {
        cursor: pointer;
      }
    }
    .custom-checkbox {
      border: solid 0.11rem var(--text-color);
      font-size: 0.8rem;
      margin-right: 1rem;
      .fa-check {
        padding: 0.08rem;
        color: rgb(7, 171, 7);
        font-size: 0.8rem;
        visibility: hidden;
        &:hover {
          cursor: pointer;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]:checked ~ .custom-checkbox {
      .fa-check {
        visibility: visible;
      }
    }
    input[type="checkbox"]:checked ~ .taskText {
      text-decoration: line-through;
      color: var(--delete-btn-color);
    }
    .taskIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      i {
        &:hover {
          cursor: pointer;
        }
      }

      .fa-pen {
        color: var(--pen-icon-color);
      }
      .fa-trash {
        color: var(--trash-icon-color);
      }
    }
  }
}

#deleteBtnsWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  .deleteBtns {
    background-color: var(--delete-btn-color);
    width: 35%;
    &:hover {
      color: var(--text-color);
      background-color: var(--btn-text-color);
      border: solid 0.17rem var(--delete-btn-color);
    }
  }
  button:disabled{
    background-color: #dd6d6fd5;
    cursor: none;
  }
}
